<div class="location_details_back">
  <h4>Where do you want to go?</h4>
  <form action="">
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <div class="details">
            <div class="icon-back"><img src="assets/images/s1.png" alt=""></div>
            <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
          </div>
          
        </ion-col>
        <ion-col size="5">
          <div class="details">
            <div class="icon-back"><img src="assets/images/s2.png" alt=""></div>
            <ion-select value="1" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
              <ion-select-option value="8">8</ion-select-option>
              <ion-select-option value="9">9</ion-select-option>
              <ion-select-option value="10">10</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" color="custom" shape="round">
      find bus 
      <img src="assets/images/submit-arrow.png" alt="">
    </ion-button>
  </form>
  <app-location></app-location>
</div>
