.location_details_back{
    width: 100%; margin-top: 3rem; display: block; float: left; 
    h4{
        font-family: 'sansation-bold'; color: #474747; margin-bottom: 2rem; margin-top: 0;
    }
    .details{
        width: 100%; background-color: #fff; box-shadow: rgba(0,0,0,.1) 1px 0 10px ; border-radius: 1rem; padding-left: 3.5rem; position: relative;
        &:after{
            width: 13px; height: 10px; background-image: url(../../../../../assets/images/arrow.png); position: absolute; top: 0; bottom: 0; right: 5px; margin: auto; content: "";
        }
        ion-select{
            padding-top: 0; padding-bottom: 0; height: 4.5rem; display: flex; align-items: center; color: #000; font-size: 1.4rem; line-height: 4.5rem;
        }
        ion-datetime{
            padding-top: 0; padding-bottom: 0; height: 4.5rem; display: flex; align-items: center; color: #000; font-size: 1.4rem; line-height: 4.5rem;
        }
        .icon-back{
            position: absolute; top: 0; left: 0; height: 100%; width: 4.4rem; background-color: #fd3552; border-radius: 1.2rem 0 1.2rem 1.2rem; display: flex; align-items: center; justify-content: center;
        }
    }
    
}

