<div class="main_location_back">
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <div class="main">
        <div class="clock_back">
          <img src="assets/images/clock.png" class="clock" alt="">
        </div>        
        <div class="portion">
          <h5>New Delhi - Mumbai</h5>
          <div class="details">
            <ul>
              <li>28-5-20</li>
              <li><img src="assets/images/t3.png" alt=""></li>
              <li>2</li>
            </ul>
          </div>
        </div>
      </div>
    </ion-slide> 
    <ion-slide>
      <div class="main">
        <div class="clock_back">
          <img src="assets/images/clock.png" class="clock" alt="">
        </div>        
        <div class="portion">
          <h5>New Delhi - Mumbai</h5>
          <div class="details">
            <ul>
              <li>28-5-20</li>
              <li><img src="assets/images/t3.png" alt=""></li>
              <li>2</li>
            </ul>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="main">
        <div class="clock_back">
          <img src="assets/images/clock.png" class="clock" alt="">
        </div>        
        <div class="portion">
          <h5>New Delhi - Mumbai</h5>
          <div class="details">
            <ul>
              <li>28-5-20</li>
              <li><img src="assets/images/t3.png" alt=""></li>
              <li>2</li>
            </ul>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="main">
        <div class="clock_back">
          <img src="assets/images/clock.png" class="clock" alt="">
        </div>        
        <div class="portion">
          <h5>New Delhi - Mumbai</h5>
          <div class="details">
            <ul>
              <li>28-5-20</li>
              <li><img src="assets/images/t3.png" alt=""></li>
              <li>2</li>
            </ul>
          </div>
        </div>
      </div>
    </ion-slide>   
  </ion-slides>

</div>