.title_back{
    width: 100%; color: #fff; padding: 0 2.5rem;
    h1{
        font-family: 'sansation-bold'; margin: 0; font-size: 2.6rem;
    }
    h2{
        font-size: 2rem; margin: 5px 0 2rem 0;
    }
}