<div class="card_slide_back"> 
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
        <div class="slide-image"><img src="assets/images/card.png" alt=""></div>
    </ion-slide>
    <ion-slide>
        <div class="slide-image"><img src="assets/images/card.png" alt=""></div>
    </ion-slide>
    <ion-slide>
        <div class="slide-image"><img src="assets/images/card.png" alt=""></div>
    </ion-slide>
    <ion-slide>
        <div class="slide-image"><img src="assets/images/card.png" alt=""></div>
    </ion-slide>
  </ion-slides>
</div>

