.verification_content_back{
    width: 100%; display: block; 
    .head{
        width: 100%; display: block; padding: 6rem 2.5rem 4rem; background-color: #fc3451; border-radius: 0 0 0 4rem;
        ion-buttons{
            ion-back-button{
                color: #fff;                
            }
        }
        h1{
            color: #fff; font-size: 2rem; margin: 0 0 0 2rem; padding: 0; letter-spacing: 1px;
        }
    }
    .details{
        width: 100%; text-align: center; padding: 3rem 0;
        img{
            width: 80%; display: inline-block;
        }
        p{
            width: 100%; font-size: 1.5rem; line-height: 2.6rem; 
            span{
                color: #fc3451;
            }
        }
        .opt_details{
            width: 60%; display: inline-block;
            ion-grid{
                width: 100%;
                ion-input{
                    width: 100%; height: 9rem; border: #fc3451 3px solid; text-align: center; padding: 0 !important; font-size: 2rem;
                }
            }
        }
        ion-button{            
            &.resend{
                color:#fc3451 ; background-color: transparent !important; width: 12rem; height: 3.85rem; display: inline-block;
            }
        }
        ion-button{
            &.verify{
                width: 5rem; height: 5rem; border-radius: 100%; display: inline-block;
                ion-icon{
                    color: #fff;
                }
            }
        }
        
    }
}
.clear {
    clear: both;
}
