<ul class="category_tab_menu">
  <li (click)="acClick()" [class.active]="active">
    <a href="javascript:void(0)">
      <div class="icon_back" >
        <img src="assets/images/t1.png" alt="">
      </div>
      AC
    </a>
  </li>
  <li (click)="nonAcClick()" [class.active]="active2">
    <a href="javascript:void(0)">
      <div class="icon_back">
        <img src="assets/images/t2.png" alt="">
      </div>
      Non Ac
    </a>
  </li>
  <li (click)="sleeperClick()" [class.active]="active3">
    <a href="javascript:void(0)">
      <div class="icon_back" >
        <img src="assets/images/t3.png" alt="">        
      </div>
      Sleeper
    </a>
  </li>
  <li (click)="seaterClick()" [class.active]="active4">
    <a href="javascript:void(0)">
      <div class="icon_back" >
        <img src="assets/images/t4.png" alt="">        
      </div>
      Seater
    </a>
  </li>
</ul>