/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



@font-face {
  font-family: 'sansation-regular';
  src:local('sansation-regular'), url(./assets/fonts/Sansation-Regular.ttf);
}
@font-face {
  font-family: 'sansation-light';
  src:local('sansation-light'), url(./assets/fonts/Sansation-Light.ttf);
}
@font-face {
  font-family: 'sansation-bold';
  src:local('sansation-bold'), url(./assets/fonts/Sansation-Bold.ttf);
}
html{
  font-size: 62.5%;
}
body{
     font-family: 'sansation-regular'; line-height: 1rem;
    --ion-background-color: #fa2a4a;
    --ion-background-color: -moz-linear-gradient(top,  #fa2a4a 0%, #fa2a4a 64%, #ffffff 72%, #ffffff 100%); 
    --ion-background-color: -webkit-linear-gradient(top,  #fa2a4a 0%,#fa2a4a 64%,#ffffff 72%,#ffffff 100%); 
    --ion-background-color: linear-gradient(to bottom,  #fa2a4a 0%,#fa2a4a 64%,#ffffff 72%,#ffffff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2a4a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    
}
.header-md::after{
  background-image: none !important;
}
ion-menu-button{
  width: auto; 
}
ion-header{
  padding: .5rem 1rem; background-color: #fa2a4a;
}
.picker-opt{
  color: #fff !important;
}
.picker-toolbar-button{
  margin-right: 1rem;
}
.picker-button{
  color: #000 !important;
  background-color: #ffea39 !important;font-size: 1.2rem !important; padding: 0 2rem !important; height:3rem !important
 
}
.picker-toolbar{
  margin-top: 1rem;
}

.alert-radio-label{
  color: #fff !important;
}
.alert-radio-icon {
  border-color:  #ffea39 !important;
}
.alert-radio-inner{
  background-color: #ffea39 !important;;
}

.alert-button{
  color: #000 !important;
  background-color: #ffea39 !important;  font-size: 1.2rem !important; padding: 0 2rem !important; height:3rem !important
}
.swiper-container-3d .swiper-slide-shadow-right{
  background-image: none !important;
}
.swiper-container-3d .swiper-slide-shadow-left{
  background-image: none !important;
}

  
 ion-menu{
  --background: var(--ion-color-custom) !important; 
 }  

 .picker-wrapper.sc-ion-picker-md{
  --background: var(--ion-color-custom2) !important; 
 }
 .alert-wrapper.sc-ion-alert-md{
  --background: var(--ion-color-custom2) !important;
 }

 .alert-radio-group.sc-ion-alert-md{
  border-top: rgba(255,255,255,.1) 1px solid !important;
  border-bottom: rgba(255,255,255,.1) 1px solid !important;
 }
  



